In [9]:
import sys
sys.path.append("../")

from watchlib.data_handler import DataLoader

In [10]:
dl = DataLoader("/Users/macbookpro/Documents/Code/watchlib/data/apple_health_export")

# Workout routes
## Loading and reading routes directly from the health export:

In [11]:
# Loading all workout routes and reading one of them
routes = dl.load_routes()
routes = dl.read_routes(routes)
routes["route_2021-07-11_4.09pm.gpx"].head()

Loading 370 workout routes.

,lon,lat,time,elevation,speed,course,hAcc,vAcc
0,10.602641,49.581985,2021-07-11T13:51:38Z,291.565704,1.107545,91.421913,3.641275,2.577065
1,10.602659,49.581977,2021-07-11T13:51:40Z,291.529633,1.108436,104.217720,3.184691,2.264126
2,10.602667,49.581974,2021-07-11T13:51:41Z,291.513947,1.108892,115.857498,3.003400,2.140852
3,10.602680,49.581969,2021-07-11T13:51:42Z,291.488007,1.111289,122.271286,2.728940,1.955657
4,10.602693,49.581964,2021-07-11T13:51:42Z,291.462097,1.115733,113.029823,2.486191,1.793673

## Caching routes for faster loading times

In [12]:
dl.cache_routes(routes)

In [13]:
cached_routes = dl.load_cached_routes()

# Electrocardiograms (ECG)

In [14]:
ecgs = dl.load_ecgs()
data, meta_data = dl.read_ecg(ecgs["ecg_2020-11-20.csv"])

Loading 21 electrocardiograms.

In [15]:
meta_data.keys()

dict_keys(['Geburtstag', 'Aufzeichnungsdatum', 'Klassifizierung', 'Symptome', 'Softwareversion', 'Ger√§t', 'Messrate', 'Ableitung', 'Einheit', 'name'])

In [16]:
data.head()

    name  value
9    -33    767
10   -41    761
11   -48    858
12   -55     38
13   -60    286