In [1]:
import sys
sys.path.append("../")

from data_handler import DataLoader

In [4]:
data_loader = DataLoader("/Users/macbookpro/Documents/Code/apple-health-analyser/data/apple_health_export")

# Workout routes

In [5]:
# Loading all workout routes and reading one of them
routes = data_loader.load_workout_routes()
route = data_loader.read_workout_route(routes[5])
route.head()

Loading 370 workout routes.

,lon,lat,time,elevation,speed,course,hAcc,vAcc
0,10.989575,49.407470,2019-03-08T10:00:55Z,327.972504,0.403257,206.962143,2.363972,1.538993
1,10.989575,49.407470,2019-03-08T10:00:55Z,327.976654,0.403256,206.962143,2.307514,1.500455
2,10.989576,49.407473,2019-03-08T10:00:56Z,327.991058,0.403186,209.331848,2.128392,1.378969
3,10.989577,49.407477,2019-03-08T10:00:57Z,328.009277,0.402690,219.443481,1.939687,1.252865
4,10.989579,49.407480,2019-03-08T10:00:58Z,328.027679,0.401192,222.858261,1.791188,1.155842

In [10]:
# Loading one workout route and reading it
route = data_loader.load_workout_route("route_2021-09-06_1.47pm.gpx")
data_loader.read_workout_route(route).head()

,lon,lat,time,elevation,speed,course,hAcc,vAcc
0,9.745362,47.112210,2021-09-06T09:38:11Z,992.788025,1.365834,-1.000000,2.529288,2.160289
1,9.745355,47.112207,2021-09-06T09:38:12Z,992.841736,1.365756,-1.000000,2.404424,2.059114
2,9.745347,47.112203,2021-09-06T09:38:12Z,992.908142,1.365273,-1.000000,2.258735,1.939498
3,9.745333,47.112196,2021-09-06T09:38:13Z,993.027283,1.360996,-1.000000,2.021691,1.740204
4,9.745318,47.112188,2021-09-06T09:38:14Z,993.143738,1.352902,265.465332,1.818752,1.563616

# Electrocardiograms (ECG)

In [6]:
ecgs = data_loader.load_ecgs()
meta_data, ecg_data = data_loader.read_ecg(ecgs[6])

Loading 21 electrocardiograms.

In [8]:
meta_data.keys()

dict_keys(['Geburtstag', 'Aufzeichnungsdatum', 'Klassifizierung', 'Symptome', 'Softwareversion', 'Ger√§t', 'Messrate', 'Ableitung', 'Einheit', 'name'])

In [9]:
ecg_data.head()

    name  value
9   -110    676
10   -67    851
11   -33    643
12    -8     27
13     9    951